<h1>
	This is a simple app that demonstrates using the Temboo SDK to perform Github
	OAuth authentication.
</h1>

<p>Click <a href="/github_oauth/initializeOAuth">here</a> to start the OAuth process.</a>
